<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chifoumi</title>
</head>
<body>
	<h1 style="text-align: center; color: red">Chifoumi</h1>
	<a href="/resultat?jeu=chi.png"><img src="chi.png" alt="chi"></a>
	<a href="/resultat?jeu=fou.png"><img src="fou.png" alt="fou"></a>
	<a href="/resultat?jeu=mi.png"><img src="mi.png" alt="mi"></a>
<br>
<div></div>
	<h1 style="text-align: center;">Chifoumi</h1>

<form method="post" action="/resultat">
    <input type="radio" name="jeu" value="chi.png"/>
    <img src="chi.png" alt="chi">
    <br>
    <input type="radio" name="jeu" value="fou.png"/>
    <img src="fou.png" alt="fou">
    <br>
    <input type="radio" name="jeu" value="mi.png" />
    <img src="mi.png" alt="mi">
    <button>Play</button>
</form>
</body>
</html>